* body {
    height: 100vh;
  background: linear-gradient(to bottom, #d9d9d9, #3f46c7);
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
}
.botões {
    display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #cfcfcf;
  cursor: pointer;
  transition: 0.3s;
}