body {
    background-color: #4446af;
    height: 100vh;
    display: flex;
}

.bloco {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
}

.retangulo-tbl {
    width: 50vw;
    max-width: 1000vw;
    height: 700px;
    max-height: 700px;
    border-radius: 20px;
    padding: 20px 20px;
    background: white;
    backdrop-filter: blur(6px);
    margin-left: 225px;
}

.top-tbl-table {
    width: 100%;
    table-layout: fixed ;
}

.top-tbl {
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    height: 6vh;
    color: gray;
}

.top1-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}


.top2-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top3-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top4-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top5-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top6-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top7-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top8-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top9-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top10-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top11-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top12-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top13-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top14-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.ativo {
    color: green;
}

.desativado {
    color: red;
}

td {
    width: 26.4%;
    text-align: center;
    border: none;
}

.editar-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer; 
  color: blue;
  text-decoration: none;
}

.novo-usu {
    font-weight: bold;
    margin-left: 20.8vw;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    padding: 0.5vw;
    width: 7.7vw;
    max-width: 15vw;
    margin-top: 3vw;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
}

.travado {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 22vw;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 47.5vw;
}

