body {
    height: 100vh;
    display: flex;
    background: linear-gradient(
        180deg,
        #f4f4f8 0%,
        #c5c7ff 45%,
        #3b3bff 100%
    );
}

.bloco {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
}

.retangulo-tbl {
    width: 50vw;
    max-width: 1000vw;
    height: 700px;
    max-height: 700px;
    border-radius: 20px;
    padding: 20px 20px;
    background: white;
    backdrop-filter: blur(6px);
    margin-left: 225px;
}

.top-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
    color: gray;
}

.top1-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}


.top2-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top3-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top4-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.top5-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 6vh;
}

.ativo {
    color: green;
}

.desativado {
    color: red;
}

td {
    width: 26.4%;
    text-align: center;
    border: none;
}

.editar-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer; 
  color: blue;
  text-decoration: none;
}

.ver-mais {
    font-weight: bold;
    margin-left: 0px;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    margin-top: 25px;
    width: 4vw;
    max-width: 5vw;
    padding: 5px;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}

.novo-usu {
    font-weight: bold;
    margin-left: 20.8vw;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    padding: 0.5vw;
    width: 6.4vw;
    max-width: 15vw;
    margin-top: 3vw;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
}