* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    background: linear-gradient(
        180deg,
        #f4f4f8 0%,
        #c5c7ff 45%,
        #3b3bff 100%
    );
}



.logo {
    font-size: 28px;
    margin-top: 10%;
    font-family: 'Arial', sans-serif;
}

.menu {
    width: 300px;
    margin: 90 auto;
    word-spacing: 500px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-top: 50%;
}

.retangulo {
  width: 280px;
  padding: 20px 20px;
  background: rgba(120, 120, 255, 0.55);
  backdrop-filter: blur(6px);
  height: 100vh;
}

.bloco {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
}

.retangulo-tbl {
    width: 500px;
    height: 280px;
    border-radius: 40px;
    padding: 20px 20px;
    background: white;
    backdrop-filter: blur(6px);
    margin-left: 350px;
}

.top-tbl {
    font-family: sans-serif;
    background-color: white;
    border: none;
    border-color: transparent;
}

.top1-tbl {
    font-family: segoe ui;
    border: none;
}


.top2-tbl {
    font-family: segoe ui;
    border: none;
}

.top3-tbl {
    font-family: segoe ui;
    border: none;
}

.top4-tbl {
    font-family: segoe ui;
    border: none;
}

.top5-tbl {
    font-family: segoe ui;
    border: none;
}

.btn {
  width: 75%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: aqua;
  cursor: pointer;
  transition: 0.3s;
  font-family: segoe ui;
  border-color: transparent;
}

.btn-usu {
  width: 75%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius:20px;
  background: #07e0f0;
  cursor: pointer;
  transition: 0.3s;
  font-family: segoe ui;
  border-color: transparent;
}

td {
    width: 30%;
    text-align: center;
    border: none;
}

.editar-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer; 
  color: blue;
}

.ver-mais {
    margin-left: 0px;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    padding: 5px;
    border-color: transparent;
    cursor: pointer;
}

.novo-usu {
    margin-left: 175px;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    border-color: transparent;
    cursor: pointer;
}

.ativo {
    color: green;
}

.desativado {
    color: red;
}