body {
    height: 100vh;
    display: flex;
    background: linear-gradient(
        180deg,
        #f4f4f8 0%,
        #c5c7ff 45%,
        #3b3bff 100%
    );
}

.bloco {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 47vw;
    width: 60vw;
}

.retangulo-tbl {
    width: 60vw;
    height: 40vw;
    border-radius: 20px;
    padding: 20px 20px;
    background: white;
    backdrop-filter: blur(6px);
    margin-left: 12.5vw;
}

.top-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 4vw;
    width: 1vw;
    color: gray;
}

.top1-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 4vw;
    width: 1vw;
}


.top2-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 4vw;
    width: 1vw;
}

.top3-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 4vw;
    width: 1vw;
}

.top4-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 4vw;
    width: 1vw;
}

.top5-tbl {
    font-weight: bold;
    font-family: segoe ui;
    border: none;
    height: 4vw;
    width: 1vw;
}

.ativo {
    color: green;
}

.desativado {
    color: red;
}

td {
    width: 26.4%;
    text-align: center;
    border: none;
}

.editar-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer; 
  color: blue;
  text-decoration: none;
  width: 1vw;
}

.ver-mais {
    font-weight: bold;
    margin-left: 0vw;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    margin-top: 1vw;
    width: 5vw;
    padding: 5px;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}

.novo-usu {
    font-weight: bold;
    margin-left: 18.5vw;
    font-family: segoe ui;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    margin-top: 2vw;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 8vw;
    align-items: center;
}