body {
    height: 100vh;

    display: flex;

    background: linear-gradient(
        180deg,
        #f4f4f8 0%,
        #c5c7ff 45%,
        #3b3bff 100%
    )
    
    ;
}


.menu {
    width: 300px;
    margin: 90 auto;
    word-spacing: 500px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.retangulo {
    width: 240px;

  padding: 20px 15px;

  background: rgba(120, 120, 255, 0.55);

  backdrop-filter: blur(6px);
}

.bloco {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 30vh; 
}

.top {
    color: green;
}
.top1 {
    background-color: white;
}

.btn {
    background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

td {
    width: 100%;
    text-align: center;
}
.editar-btn {
    background-color: rgb(126, 132, 255) ;
  border: none;
  box-shadow: none;
  cursor: pointer;
}