body {
    height: 100vh;

    display: flex;

    background: linear-gradient(
        180deg,
        #f4f4f8 0%,
        #c5c7ff 45%,
        #3b3bff 100%
    )
    
    ;
}

.bloco {
    width: 180%;
    margin: 0px auto;
    border-collapse: collapse;
}

.top1 {
    background-color: white;
}